@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --brainster-blue: #3366fe;
}

html, body {
  height: 100%;
}

body {
  color: #ffffff;
  background-color: #0b1022;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
