/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: improve font rendering a bit */
html, body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
